[2015-08-30 03:15] joshprice opened #2 "Need to figure out how to represent the parsed GraphQL structure so it can be useful"
I've been focussing on getting lexing and parsing to work correctly, and have a simple but likely not very useful structure just so I can understand the output and check it is working as expected with tests.

So this needs to change but just not sure how yet.

Want to tackle this before writing too many more specs because the specs are getting harder to read, and there will be more to change if I

[2015-08-30 03:15] joshprice commented on #2
/cc @freshtonic

[2015-08-30 03:17] joshprice opened #3 "Structure specs a bit better"
Lex specs are ok, but parser specs need to be split out into 'tokens -> output' and 'strings -> output' sections.

Specs could probably be better named to match the GraphQl spec too.

[2015-08-30 03:22] freshtonic commented on #2
I agree.  I think this means that now it the time to understand the GraphQL spec more completely.

https://facebook.github.io/graphql/

And then figure out how to proceed from there.

[2015-08-30 04:01] joshprice commented on #2
Happy to keep trucking with it as is until we can parse the entire spec, but it's getting a bit awkward to even test with.

[2015-08-30 05:12] joshprice commented on #2
The Execution section of the spec may be particularly useful https://facebook.github.io/graphql/#sec-Execution

[2015-09-14 13:29] joshprice commented on #2
Have used the reference AST, happy with this for now.

[2015-09-14 13:29] #2 closed, assigned to nobody

[2015-09-15 10:39] joshprice commented on #3
Have improved this a bit, will open a more specific ticket

[2015-09-15 10:39] #3 closed, assigned to nobody

[2015-09-19 02:10] joshprice opened #6 "Allow reserved words to be used as field names, etc"
Important to allow introspection to work

https://github.com/graphql/graphql-js/blob/master/src/utilities/introspectionQuery.js

[2015-10-07 22:49] joshprice commented on #6
Closed by #7

[2015-10-07 22:49] #6 closed, assigned to nobody

[2015-10-07 23:06] joshprice opened #10 "Use proper doctests everywhere"

[2015-10-07 23:08] joshprice opened #11 "Setup build matrix to ensure appropriate level of backward compatibility"
See https://github.com/philss/floki/blob/master/.travis.yml

[2015-10-07 23:12] joshprice opened #12 "Don't commit generated lexer and parser .erl files"
See https://github.com/philss/floki/pull/26/files for possible solution to the issue I was trying solve which was to have the hex package work once it was installed.

[2015-10-10 01:43] 1player opened #15 "Schema DSL"
I've been lurking in this repo for a while and I've tried to come up with some kind of DSL to describe a schema at a high level.  Has anybody already given some thought about this?

I've tried to replicate the Star Wars example from the reference graphql repository from Facebook (https://github.com/graphql/graphql-js/tree/master/src/__tests__), this is what I've come up with:

[code]

The Schema m

[2015-10-10 05:58] joshprice commented on #12
Fixed by #13

[2015-10-10 05:58] #12 closed, assigned to nobody

[2015-10-10 05:59] joshprice commented on #11
Fixed by #13

[2015-10-10 05:59] #11 closed, assigned to nobody

[2015-10-10 23:33] joshprice commented on #15
Hi @1player, thanks so much for writing this up and starting this discussion!

There has definitely been some thinking around this already, but it is probably one of the areas where there is a bit of confusion in the spec and the reference implementation.

@peburrows, @freshtonic and I all separately assumed that one would specify the schema using the type system. Much like https://github.com/josh

[2015-10-11 02:20] freshtonic commented on #15
@joshprice What I would like to see is the ability to decouple the resolve blocks from the schema i.e. keep the _what_ (the schema) separate from the _how_ (the resolving).  However, for convenience I'd still like the option to define the resolve blocks inline with the schema DSL.  So far I like the syntax @1player has gone with - it's very tasteful!

[2015-10-11 03:38] joshprice commented on #15
Agreed it looks like a great starting point

[2015-10-13 14:15] peburrows commented on #15
In my mind, the ability to decouple the schema definition from how things are resolved seems important.

[2015-10-13 14:22] peburrows commented on #15
(I prematurely submitted my previous comment :cry: Let me try that again.)

In my mind, the ability to decouple the schema definition from how things are resolved seems important.

However, I do appreciate the elegance of DSL @1player outlined above. It seems to me it would be useful to provide both options for schema definition, but maybe that just makes for unnecessary complexity here in the lib

[2015-10-13 20:33] 1player commented on #15
I like the idea of using protocols for resolution, although I'm not sure sold on @peburrows solution which puts all the resolution code in a `defimpl Plot.Resolution, for: Plot.Object` block.

I'd like to defimpl each object separately, with the possibility of having a generic resolve function in the body of the schema which overrides per-object resolution. For example:

[code]

I actually don't k

[2015-10-14 02:00] joshprice commented on #15
Agree with the following:
- Decoupling of schema and resolution seems like a reasonable goal
- I'm also not sure why other impl's are not using the type system to specify schema (accidental or intentional for a good reason - I don't know)
- Decoupling of the schema/resolution does have the drawback of not keeping everything defined together which is nice for readability as the reader doesn't need

[2015-10-14 22:49] danielberkompas commented on #15
I just recently read the GraphQL spec, so I'm new, but it seems to me like using the existing type documentation would be best. Adding an Elixir layer over top of it adds a lot of complexity and requires more mental work to understand. Personally, I would rather have the schema look like it does in the GraphQL spec, even if it means that I have to hunt down the resolvers.

This saves the mental ef

[2015-10-15 17:18] bruce opened #17 "Parser results: Maps vs Keyword Lists?"
Looking at, eg, https://github.com/joshprice/graphql-elixir/blob/master/test/graphql_parser_schema_kitchen_sink_test.exs

Might it make more sense for the parser to produce maps vs keyword lists for better traversal by pattern matching?

[2015-10-15 17:35] 1player commented on #17
+1

Keyword lists have better memory usage compared to maps, but they are a pain to pattern match with as the order of fields in the pattern is important.

[2015-10-15 20:03] bruce commented on #17
This is the sort of thing that will take a lot of tedious test edits; I'll put together a PR for review.

[2015-10-16 18:53] bruce commented on #15
One thing to mention about using the type system: as far as I can tell, it does not support adding descriptions (eg, as is done in graphql-js' `GraphQLObjectType`'s fields). We may need to use something else to provide additional metadata to support, eg, introspection.

[2015-10-16 19:14] danielberkompas commented on #15
@bruce That is a very good point. In fact, that could explain why all the other implementations have used a DSL.

[2015-10-17 03:24] freshtonic commented on #15
Given this extra information regarding descriptions, I'm leaning towards a DSL approach. However, if deemed valuable, we could also make a tool to translate a native GraphQL schema definition into our own particular DSL. Thoughts?

[2015-10-28 21:23] 1player commented on #15
Some things I've noticed working on an implementation of this feature:
-   GraphQL.Object is actually the root of all other "types": An Object is actually a struct, and Object fields can either be mutable simple values, or complex, read-only values if a `resolve` function is provided. Example:

[code]

  `name` is a simple value that can be read from and written to, as if it were a struct field, w

[2015-11-25 06:22] #17 closed, assigned to nobody

[2015-11-25 06:23] #10 closed, assigned to nobody

[2015-12-03 15:21] ivan-kolmychek opened #26 "undefined function: nil.type/0 when repoducing the example from docs [0.0.6]"
I'm trying to reproduce the example from docs with some small changes, but I get an error when I try to execute sample request.

My schema:

[code]

Request:

[code]

Trace

[code]

I'm not sure, but it looks like [executor.ex:79](https://github.com/joshprice/graphql-elixir/blob/2353349f75c83fccb52d0169502d5c7452362ff3/lib/graphql/execution/executor.ex#L79) expects `fields` to be a map, but gets a

[2015-12-03 15:25] ivan-kolmychek commented on #26
Ok, I've redefined my schema to

[code]

and now I do receive the correct response

[code]

Was it intended for the resolve function to have three arguments exactly?

[2015-12-03 15:49] ivan-kolmychek commented on #26
Ok, found how args are defined and passed.

[code]

I think, documentation should really be updated. :)

[2015-12-03 20:33] joshprice commented on #26
Thanks for picking this up, I've fixed the docs in the plug, I'll make sure all other docs are updated! Sorry for any inconvenience. :(

[2015-12-03 20:46] ivan-kolmychek commented on #26
@joshprice not a problem, I'm just messing around, so, just wanted to report my findings.

I'm not sure it's convinient for devs to have resolving function with arity 3. At least we should put args as a first argument, I guess.

[2015-12-03 20:49] ivan-kolmychek commented on #26
Also, in what format should arguments be defined in schema? I mean, what should be the respecing values set to, just "String", or any type, or something completely different?

[2015-12-03 21:56] ivan-kolmychek commented on #26
@joshprice if I understand correctly, [type is ignored currently](https://github.com/joshprice/graphql-elixir/blob/2353349f75c83fccb52d0169502d5c7452362ff3/lib/graphql/execution/executor.ex#L141). Am I right?

I guess, this should be included in docs too, at least as a "checkbox"-like thing (like `[WIP] arguments type validation/coercion` or something like that).

[2015-12-03 22:03] #26 closed, assigned to nobody

[2015-12-03 22:03] joshprice commented on #26
Docs updated, that should be all of it I think

[2015-12-04 03:05] joshprice commented on #26
Types will be the next thing I'll be working, thanks for the feedback!

[2015-12-04 09:09] ivan-kolmychek commented on #26
Thanks.

[2015-12-11 12:33] triptec opened #28 "Complex types under status"
I was looking at the status and it's my understanding that lists aren't implemented but there is a test that looks like it is testing a list

[code]

I'm confused

[2015-12-11 18:39] joshprice commented on #28
Apologies, I haven't updated the current status, lists are implemented as `%GraphQL.List{of_type: <list_type>}`. Try the schema syntax in that test https://github.com/joshprice/graphql-elixir/blob/master/test/graphql/execution/executor_test.exs#L144-L150

[2015-12-11 18:41] #28 closed, assigned to nobody

[2015-12-18 18:47] anthonator opened #30 "Elixir channel in GraphQL Slack"
I just wanted to note that I created an Elixir channel in the GraphQL Slack team.

[2015-12-20 19:02] joshprice commented on #30
Thanks, I did consider creating this initially but then realised that it was probably better to have an `erlang` in the same way that there is a `#jvm` chanel. Still useful to have if people are searching for `elixir` vs `erlang`, mind if we add a pointer to `#erlang`?

[2015-12-20 19:02] #30 closed, assigned to nobody

[2015-12-24 18:21] joshprice opened #32 "Support line numbers in parser"
Also column numbers if possible if leex supports this

[2016-01-02 05:14] cesarandreu commented on #15
Have you looked at [graphql-ruby](https://github.com/rmosolgo/graphql-ruby)? I played around with a few hours and I found it was very pleasant to hook up with a Rails app. They have a [demo app](https://github.com/rmosolgo/graphql-ruby-demo/tree/master/app/graph).

It might serve as a source of inspiration.

[2016-01-04 03:41] joshprice opened #34 "Introspection to support GraphiQL"
This is required to get GraphiQL working in https://github.com/joshprice/plug_graphql

[2016-01-04 04:27] joshprice opened #35 "Validation"
Implement query validation

[2016-01-04 04:27] plasticine commented on #35
:hand:

[2016-01-04 04:37] joshprice commented on #32
Would like to integrate https://github.com/asonge/graphql at some point as a configurable parser option, this will allow better error messages in the absence of being able to make leex and yecc do this.

[2016-01-06 13:43] Bockit opened #38 "Recursive schema definition potentially causing an infinite loop"
Hi. Firstly, thanks for all the work on graphql-elixir and plug-graphql.

I'm having trouble with a circular schema definition. Using plug_graphql in phoenix and the server freezes up no matter the query when the circular definitions are in play.
- Recurring
- Transaction
- Tag

Relations are:
- Tags many to many Recurring
- Tags many to many Transaction

https://github.com/Bockit/budget/tree/mast

[2016-01-07 00:41] joshprice commented on #38
Thanks for the bug report! I'll see if can reproduce this and let you know if I have any questions.

[2016-01-07 03:57] Bockit commented on #38
@joshprice I put [together a reproduction as a test](https://github.com/Bockit/graphql-elixir/blob/feature/circular-dependency-test/test/graphql/execution/executor_test.exs#L180-L238) and it passes so it looks like things are good. I think the infinite loop is me calling schema, calling schema, calling schema, calling schema in my definitions.

If you want the test in here I can make it a PR, othe

[2016-01-07 03:57] #38 closed, assigned to nobody

[2016-01-07 06:10] joshprice commented on #38
Hadn't had a chance to look at it yet, but glad you got to the bottom of it. A PR with that recursion test in would be fantastic thanks!

[2016-01-07 06:25] Bockit commented on #38
Turns out my test wasn't a circular dep, if I went any levels deeper it wouldn't work because elixir isn't mutable and my last reference to fruit in basket doesn't have a basket field.

Basically something like this that I would do in node isn't something I can do in elixir.

[code]

Which in a long story short is to say in the end it's not testing anything you aren't already testing :)

[Just had

[2016-01-07 15:34] markolson commented on #38
So, I saw this Issue just before starting to travel, and ended up coming with a solution ( #39 ) analogous to the js reference implementation of graphql. Where they wrap the `fields` in an [anonymous function](https://github.com/graphql/graphql-js/blob/master/src/__tests__/starWarsSchema.js#L110) to delay execution, I think we can `quote` ours.

[2016-01-10 13:53] Bockit commented on #38
Thanks @markolson, really great!

[2016-01-15 14:08] Bockit opened #45 "List input type"
I'm having trouble with the list input type. [Here's my root schema](https://github.com/Bockit/budget/blob/master/apps/api-server/web/graphql/root_schema.ex), you can ignore the query part, I'm only doing list inputs with the mutation. You can see I have the mutation field `createTransaction`. [Here's where I define the `createTransaction` mutation field](https://github.com/Bockit/budget/blob/mast

[2016-01-18 00:22] #34 closed, assigned to joshprice

[2016-01-18 03:59] #45 closed, assigned to nobody

[2016-01-19 12:18] joshprice opened #50 "Executor: Ordering of response fields"
As reported by @bockit.

query:

[code]

output:

[code]

[2016-01-22 08:30] freshtonic commented on #50
Initial attempt at an (incomplete) solution to solicit feedback: https://github.com/joshprice/graphql-elixir/pull/51

[2016-01-22 23:58] joshprice commented on #50
http://facebook.github.io/graphql/#sec-Evaluating-a-grouped-field-set states that order doesn't matter

[2016-01-25 05:29] freshtonic commented on #50
I _think_ that ordering does not matter from a read of the spec.

See https://github.com/joshprice/graphql-elixir/pull/51#issuecomment-174408119

[2016-01-27 15:06] drewblas opened #52 "Introspection doesn't show mutation"
I believe you're already aware, but introspection (and therefore completion/docs on GraphiQL) don't show mutation/subscription, even when those are available.

I tracked the offending line to https://github.com/joshprice/graphql-elixir/blob/3171ad8af07cbe7e11c962bf9bd074516049d2da/lib/graphql/type/introspection.ex#L34

However, I don't know how to fix this to get it to report the mutation (beyond

[2016-01-28 03:49] joshprice commented on #52
Thanks for the bug report! I'll take a look later today. If you want to have a go at fixing it feel free, it should look much like the query block.

[2016-01-28 06:41] joshprice commented on #52
Going to look into this now if you're around, ping me in the slack channel

[2016-01-31 18:50] drewblas commented on #52
Hi Josh,

Any luck by chance?  I'm still working to try to fix this myself, but I'm afraid I'm not getting far.

[2016-02-01 00:01] AdamBrodzinski opened #54 "Resolve Should Accept a Map of String Keys"
When I return a database document in the resolve function it only works if the map has symbol keys. Currently you have to convert them after every database query or the GraphQL response is `null` for each string key.

For example this works:

[code]

however this doesn't work

[code]

[2016-02-01 06:26] joshprice commented on #54
Should be possible either way. Feel free to rephrase this as a bug and I'll take a look at it.

[2016-02-01 06:29] joshprice commented on #52
Not as yet, there is a bit more to this than anticipated so hoping get it fixed as soon as I can. Thanks for your patience!

[2016-02-01 20:44] AdamBrodzinski commented on #54
@joshprice ok will do. I have dead time tomorrow so i'll work on making a reproduction and will re-edit this as a bug.

[2016-02-06 17:51] AdamBrodzinski commented on #15
I really quite like how readable the DSL approach is. I do agree with @danielberkompas  that it could cause problems with figuring out what's going on / debugging because it's so abstracted.

Here's an approach i've gone with in JavaScript that just cuts down the noise and verbosity of the GraphQL exports. The main takeaway here is that it's the same as using the normal GraphQL exports but you're

[2016-02-08 00:51] AdamBrodzinski commented on #54
@joshprice I just uploaded a reproduction repo that has a working and notWorking query.
https://github.com/AdamBrodzinski/elixir-graphql-issue-54

These can both be executed with:

[code]

and the meat of it is here in `web/graphql/test.ex`:

[code]

`notWorking` should return `{:ok, %{data: %{"notWorking" => %{"name" => "Bob"}}}}` instead of `{:ok, %{data: %{"notWorking" => %{"name" => nil}}}}`

[2016-02-11 00:05] joshprice commented on #54
Thanks Adam! I've got a fix for this that I should be able to push up later today.

[2016-02-11 23:00] joshprice commented on #52
Closed by #55

[2016-02-11 23:00] #52 closed, assigned to nobody

[2016-02-11 23:01] joshprice commented on #52
Thanks for the bug report, sorry it took so long! We'll make a release today so you can check it out.

[2016-02-12 01:12] drewblas commented on #52
Thanks Josh, greatly appreciated!

[2016-02-12 04:10] joshprice commented on #52
No worries, released now if you want to check it out

[2016-02-12 08:25] freshtonic commented on #35
This is currently being worked on.

[2016-02-12 08:29] plasticine commented on #35
@freshtonic would be keen to see how you tackle it. Have you thought about how to tackle validations that need to traverse the whole schema? I started to have a look at that in #36, but wasn't super happy with where I got to with it.

[2016-02-12 10:39] freshtonic commented on #35
@joshprice Dealing with the whole schema (for checking field usages in the AST really do exist in their types) is what led me to revisit the visitors ROFL.

In functional programming land, we need something that works like a reducer (for validations, take a validator as input to an "AST reducer", which returns `:ok` or `{errors: [...]}`).  I'm investigating prior work in the area.

[2016-02-12 10:41] plasticine commented on #35
@freshtonic check out how absinthe handles being able to reduce. That's mainly what I was unhappy with in my implementation.

[2016-02-12 10:45] freshtonic commented on #35
@plasticine I had a look, but it seems incomplete and there are no validator implementations yet. Maybe I'm looking in the wrong spot...?

[2016-02-12 10:48] plasticine commented on #35
@freshtonic typing on a phone from rubyconf is not ideal. Haha, sorry. Yeah, it is incomplete; the nice bit is that nodes define their children, meaning that they can traverse without needing that horrible module var at the top of my visitor.

[2016-02-12 10:50] freshtonic commented on #35
@plasticine right, but then we'd need to create a bunch of structs, one for each node type and have them implement a protocol. I'm ok with the `@nodes` variable, FWIW.

[2016-02-12 10:52] plasticine commented on #35
@freshtonic yep, that's kinda where I ended up, also none of the type stuff really existed when most of this was written. Does allow for more reduce style traversal though.

[2016-02-12 22:28] aweiker opened #56 "Mutations: When non-null fields are not specified, the query should report errors"
Currently if a non-null field is no specified in the mutation, the mutation will still execute even though it should return an error.

http://facebook.github.io/graphql/#sec-Non-Null

GraphiQL will indicate that the query is bad, but it will still submit it and the query will get executed.

[2016-02-13 00:47] joshprice commented on #56
I think there is a todo in the executor that mentions this if you want to investigate

[2016-02-13 01:07] aweiker commented on #56
I was planning on digging in this weekend or next week.

Sent from my iPad

[2016-02-14 03:41] AdamBrodzinski commented on #54
@joshprice if there's anything I can do to help test just let me know!

BTW thanks so much for working on this! I'm working on a [GraphQL-RethinkDB](https://github.com/AdamBrodzinski/graphql-phoenix-rethinkdb) example app to show how one can use it with RethinkDB and Phoenix.

[2016-02-14 10:02] joshprice commented on #54
The example app looks great! Is it deployed anywhere? Any chance of linking to it or using as an example in http://playground.graphql-elixir.org/

I didn't manage to get that fix in the last release I'm afraid, still had a couple of things to confirm. Will push something up asap.

[2016-02-14 17:11] AdamBrodzinski commented on #54
Thanks! I'll deploy it to Heroku and ad to the playground list once I get the mutations finished.
No worries on the fix, i'm not using it in prod yet anyway.

[2016-02-14 23:06] joshprice commented on #54
Awesome will let you know when I've made the fix. Thanks again!

On Mon, Feb 15, 2016 at 4:11 AM, Adam Brodzinski notifications@github.com
wrote:

[2016-02-15 17:10] AdamBrodzinski commented on #56
For more info here is what the Node implementation returns when not providing an id param and also when passing in unknown args:

[code]

[2016-02-15 20:39] markolson opened #58 "Implement Directives"
Per [Section 3.2](https://facebook.github.io/graphql/#sec-Type-System.Directives), we need to support Directives, and provide the `@skip` and `@include` ones by default

[2016-02-16 02:07] joshprice commented on #32
Integrating with https://github.com/aarvay/graphql_parser is also an option but less desirable in production because of the ability of NIF to crash entire nodes

[2016-02-16 02:25] bruce commented on #32
Some notes:
- Leex doesn't support column numbers yet (you probably already know this); I've gone through the source to verify, but haven't looked at the feasibility of adding it.
- Absinthe's modifications added support for line numbers in Dec (mostly by stopping name tokens discarding the line number info): https://github.com/CargoSense/absinthe/blob/master/src/absinthe_parser.yrl
- Alex' parser

[2016-02-16 06:24] aweiker opened #59 "Resolve fails when it cannot find a matching function"
When a function is specified in resolve and pattern matching is used, if the matching fails an ugly missing method exception is thrown instead of an helpful error message. Since user input can cause this to fail, a friendly validation error should be given instead.

For example:

This is the relevant schema definition:

[code]

Here is the query document

[code]

error message:

[code]

[2016-02-16 06:33] aweiker commented on #59
Let me know if this doesn't make sense and I can get a failing unit test.

[2016-02-16 06:47] aweiker commented on #59
Added a PR with a failing unit test to show the failure.

[2016-02-16 09:34] joshprice commented on #32
I don't think I recorded it anywhere but @rvirding made a comment in a talk some time ago about fixing leex to record column numbers. Like you I hunted for it but found no trace of this actually happening. Last time I looked nothing had happened on leex in GitHub for quite some time.

[2016-02-16 09:53] joshprice commented on #32
Not sure what you mean by `Dec`?

Suspect a configurable parser would be a transient option in order to perform benchmarking and other comparisons (error msgs, etc). Once this was done, a single parser should emerge victorious from the battle.

That said, they all have rather different features, so I'd probably leave a fairly trivial config in place even if just to track the reference parser.

To

[2016-02-29 01:06] erikstenlund commented on #56
Is somebody currently working on this? Otherwise I started working on adding some error and null checking and could probably get it done this week.

[2016-02-29 01:16] aweiker commented on #56
This is being handled as a part of validation.

-Aaron

[2016-02-29 19:29] dre1080 opened #64 "How can I return an error to the client with a mutation?"
Whenever I execute a mutation I can never seem to produces errors as stated here: https://facebook.github.io/graphql/#sec-Errors

How do I produce errors?

[2016-03-01 05:08] aweiker commented on #64
Did a bunch of tracking down and [`GraphQL.Execution.Executor.report_error/2`](https://github.com/joshprice/graphql-elixir/blob/master/lib/graphql/execution/executor.ex#L29) mutates the context parameter and returns a new context, but we don't actually use the new value that has the error in it.

When using [`put_in/3`](http://elixir-lang.org/docs/stable/elixir/Kernel.html#put_in/3) it returns a n

[2016-03-01 05:22] dre1080 commented on #64
@aweiker I saw the same thing.

I finally came up with a solution.
At the moment, this is what I'm doing for errors:

[code]

These are errors that have to do with uniqueness & querying the db.

Then added the following to my `ErrorView`:

[code]

Now whenever I need to produce an error to the client I `raise/2` a `GraphQL.InvalidChangesetError` like so:

[code]

This now returns an appropriate er

[2016-03-01 20:36] joshprice commented on #64
Related to #56

[2016-03-02 07:09] #50 closed, assigned to nobody

[2016-03-02 07:13] #54 closed, assigned to nobody

[2016-03-02 17:14] bruce commented on #32
@joshprice I meant "in December." I agree on @asonge's parser, as well. I think it probably has the best featureset, but fast custom parsers are always harder to read than configuration for parser generators.

[2016-03-02 17:44] rvirding commented on #32
Re leex, no nothing has happened with it for a while, mainly due to lack of time, not lack of interest. I will fix it when I get the time.

[2016-03-02 19:07] dre1080 commented on #15
I think this project and [Absinthe](http://absinthe-graphql.org) should merge or atleast implement their DSL. Absinthe has the best DSL of all the elixir graphql implementations so far.

For example, this is Absinthe:

[code]

[2016-03-03 21:12] aweiker opened #67 "Default values for arguments are not used"
I setup a simple query that took set a default value, then did not set the input variable and it should have used the default value.

Query:

[code]

If I set `$name` then the query executes, but if I don't the value is empty.

I tested this against the node version and it performed as expected.

[2016-03-04 00:21] aweiker opened #68 "Arguments should be treated as not present when there is no Input Variable"
## Reproduced Behavior in GraphQL-JS

When using arguments in a query, if the variable is not set the query should treat that argument like it does not exist.
### Example Query

[code]
### Query variables

[code]

In this case the value of `name` will be `undefined` when the resolve function is executed.
## Experienced behavior in GraphQL-Elixir

When executing this same type of query in GraphQL-E

[2016-03-11 00:01] joshprice commented on #32
@rvirding thanks so much for the update, is there any context you might be able to provide so that someone else might be able to look into it?

[2016-03-11 00:05] joshprice commented on #32
I've opened https://github.com/rvirding/leex/issues/3 to track this

[2016-03-22 04:38] joshprice commented on #67
This was working in GraphQL fine, but seems to be broken in the playground. Pushing an update which should fix this now.

[2016-03-22 04:44] #67 closed, assigned to nobody

[2016-03-22 04:53] joshprice commented on #67
Working now: http://playground.graphql-elixir.org/graphql/hello?query=query%20g(%24name%3AString%3D%22Joe%22)%7Bgreeting(name%3A%24name)%7D

[2016-03-22 05:08] joshprice commented on #68
Fixed http://playground.graphql-elixir.org/graphql/starwars?query=query%20hello(%24name%3A%20String%2C%20%24episode%3A%20Episode)%20%7B%0A%20%20hello(name%3A%20%24name%2C%20episode%3A%20%24episode)%0A%7D%0A&variables=%7B%0A%20%20%22episode%22%20%3A%20%22JEDI%22%0A%7D

[2016-03-22 05:08] #68 closed, assigned to nobody

[2016-03-23 12:36] vladimir-vg opened #77 "Question: it's not supposed to be used with pure Erlang, and never gonna be?"
subj.

If I want to use GraphQL with Erlang, not with Elixir, I need to write alternative implementation, that's right?

[2016-03-25 22:36] joshprice commented on #77
Unlike Absinthe we're not using macros (yet) so I'm not aware of any reason that this library couldn't be used directly from pure Erlang. That said I haven't tried it, so if you try it, it'd be great to know what you find!

[2016-03-25 22:39] joshprice opened #78 "Erlang compatibility"
Make it possible and easy to call GraphQL Elixir from pure Erlang (and LFE, etc).

[2016-03-25 22:41] joshprice commented on #77
Closing this question, please report anything you find here: https://github.com/graphql-elixir/graphql/issues/78

Ideally it'd be possible to call GraphQL Elixir from Erlang.

[2016-03-25 22:41] #77 closed, assigned to nobody

[2016-03-29 03:20] joshprice commented on #35
Validations are now wired up #79 so closing this. Let's open separate issues for remaining validations.

[2016-03-29 03:20] #35 closed, assigned to nobody

[2016-04-13 00:25] joshprice commented on #78
Add rebar3 support so that Elixir/Mix isn't required

[2016-04-18 05:19] ashleyw commented on #38
I'm using @markolson's fix (https://github.com/graphql-elixir/graphql/pull/39), however with `graphql-relay`, running `GraphQL.Relay.generate_schema_json!` throws this error:

[code]

I'm not sure whether this is an issue with `graphql-elixir` or `graphql-relay`?

**EDIT:** I get the error when starting the server too, so I don't think it's related to `graphql-relay`.

[2016-04-18 05:29] joshprice commented on #38
Thanks for the bug report.

Not sure which branch you mean, but please try using the latest GraphQL
release. Also it would be great to see your schema to help debug this.

On Mon, Apr 18, 2016 at 3:19 PM, Ashley Williams notifications@github.com
wrote:

[2016-04-18 05:37] ashleyw commented on #38
This is using the master branch. I think this is the relevant schema:

[code]

Thanks!

[2016-04-18 05:50] joshprice commented on #38
So the `quote` fix is deprecated since we support referencing types as modules (see https://github.com/graphql-elixir/graphql/blob/master/test/support/star_wars/schema.exs for an example).

Update: this is definitely a schema issue, and I suspect the quoting might be causing this.

[2016-04-18 06:34] ashleyw commented on #38
Ah — thanks!

Although I think there may still be an issue. `type: %{type: VideoList}` doesn't work, yet `type: %List{ofType: Video}` does. Is that intended? Or am I doing something wrong? :)

[code]

[code]

[2016-04-18 06:47] joshprice commented on #38
The second argument that function looks wrong: `%{type: VideoSchema.VideoList}` should be just `VideoSchema.VideoList` I suspect.

So change `type: %{type: VideoList}` to `type: VideoList`.

If that is still broken please open a new issue as this isn't related to the original issue. Or ping me in the GraphQL or Elixir slacks.

[2016-04-18 06:54] ashleyw commented on #38
@joshprice You're right, it should just be `type: VideoList`, not `type: {type: VideoList}`. Thank you for your help! 😊

[2016-04-30 06:23] freshtonic opened #84 "Fix dialyzer errors, and make dialyzer part of the CI build"
[code]

[2016-04-30 06:24] freshtonic commented on #84
We've not been keeping on top of this. We should :)

[2016-04-30 06:27] freshtonic opened #85 "TestHelper is mostly unnecessary"
Instead of many permutations of `assert_execute_*`, let's just have our tests invoke `GraphQL.execute`, get the response (which may or may not include errors) and check assert on the response directly.

`GraphQL.execute` is now easier to use because of the use of keyword lists. It means we don't need all of the assert permutations to make it usable anymore.

[2016-05-04 23:15] aweiker commented on #85
I like this and it also makes the tests easier to maintain and read as you don't need to know the correct tuple form.

[2016-05-06 01:56] freshtonic commented on #85
Closed by https://github.com/graphql-elixir/graphql/pull/86

[2016-05-06 01:56] #85 closed, assigned to nobody

[2016-05-14 21:15] seanabrahams commented on #58
@joshprice @markolson Has anyone done any work on directives yet? Just want to check before I take a look at implementing them. Thanks!

[2016-05-16 06:58] joshprice commented on #58
Not that I'm aware of. Go for it!

On Saturday, 14 May 2016, Sean Abrahams notifications@github.com wrote:

[2016-05-30 00:55] #58 closed, assigned to nobody

[2016-05-30 02:30] seanabrahams opened #88 "Update Introspection to include Directives"
We need the introspection query to include directives. See:
https://github.com/graphql-elixir/graphql/blob/master/lib/graphql/type/introspection.ex#L60
https://github.com/graphql-elixir/graphql/blob/master/lib/graphql/type/introspection.ex#L86
https://github.com/graphql-elixir/graphql/blob/master/lib/graphql/type/introspection.ex#L287

[2016-06-03 23:27] joshprice opened #89 "Fix 1.3 imperative if warnings"
[code]

[2016-06-06 01:29] #88 closed, assigned to nobody

[2016-06-12 11:26] marutha commented on #78
+1 any updates on this or sample how we can define and call in pure Erlang?

[2016-06-14 05:49] joshprice commented on #78
The standard way to do this is described here: http://elixir-lang.org/crash-course.html#adding-elixir-to-existing-erlang-programs

Can you try it out and report back any issues you find?

[2016-06-15 06:58] aweiker opened #92 "Specifying an invalid operation name should return a friendly error message"
Currently a nil is passed in causing code to crash.

Unit Test:

[code]

[2016-06-17 07:05] #59 closed, assigned to nobody

[2016-06-17 07:13] joshprice commented on #15
Closing as we'll be focussing on supporting schemas written in GraphQL IDL. See the following links for more detail:
- https://github.com/facebook/graphql/pull/90
- https://github.com/graphql/graphql-js/pull/325
- https://github.com/sogko/graphql-schema-language-cheat-sheet

It's possible that we may end up implementing this before 1.0 but it's not currently planned.

[2016-06-17 07:13] #15 closed, assigned to nobody

[2016-06-18 05:16] marutha commented on #78
Yes, I did give a try on this and did succeed to a good level, but downside is we have an dependency that we have to define the schema  and resolve functions in elixir and and compile them in elixir and then only we can call them in Erlang.

Also we have to ensure that 'Elixir' lib directory is added to "lib" of Erlang.

[2016-06-23 16:07] sntran commented on #15
I will be the bad guy here and say that I prefer the current way of defining schema. This allows me not to depend on creating modules for each types in the schema. One of the apps I am working on has dynamic types, which are created and destroyed at run time. The current method allows me to change the schema any time.

If I want DSL, I will go with Absinthe. Or at least allow both ways.

[2016-06-24 04:57] joshprice commented on #15
Good to know Son, dynamic types are an interesting use case that we'll
continue to support. Is there more you can share about your project and
what you're doing with GraphQL?

On Fri, Jun 24, 2016 at 2:07 AM, Son Tran-Nguyen notifications@github.com
wrote:

[2016-06-24 05:06] sntran commented on #15
Sure.

My app takes a type definition list in JSON format, without resolvers.
From that list, the app creates various queries and mutations such as
"xByField", "createX", "updateX", "deleteX", where X is a type in the list.

Later on, that JSON list can change, in which types can be added or
removed. `MyTestSchema.schema` can simply read that and return new
schema with new queries and mutations.

[2016-07-17 18:33] proProbe opened #97 "InputObjectType should be supported"
http://graphql.org/docs/api-reference-type-system/#graphqlinputobjecttype

[2016-07-22 04:58] joshprice commented on #97
Does this not do what you need? https://github.com/graphql-elixir/graphql/blob/master/test/graphql/execution/variables_test.exs#L137-L173

If this isn't what you're after can you please provide some more context so it can be reproduced?

[2016-07-24 09:32] note89 opened #98 "Upgrading to phoenix 1.2 causes error in node_interface"
[code]

[code]

[code]

elixir 1.2.3

[2016-07-26 03:21] joshprice commented on #98
From what I can tell the problem seems to be passing the anonymous fn into `define_interface` (ie `fn(obj) ->...`). Try using the `{mod, fun, args}` or `&Mod.fun/arity` style instead.

[2016-07-31 05:26] dianjin opened #99 "Mutation with map argument causes KeyError"
Hey there, I came across this problem while attempting to issue this mutation via GraphiQL:

[code]

My mutation function:

[code]

The SpreadInput type:

[code]

Stack trace when I issue the mutation in GraphiQL:

[code]

Everything worked when I issued a mutation with a built-in type like Int or String. Is this the right way to issue a mutation that takes a custom type as an argument? I was unde

[2016-08-01 14:53] note89 commented on #98
Seems like i have to rewrite a lot of my functions to that style but now i got this .

[code]

and the file looks like this

[code]

[2016-08-02 05:53] conradwt opened #100 "Field Property Mapping Support"
Does the core support mapping from the Ecto field, `first_name`, to the GraphQL field, `firstName`?  I have played with Ruby GraphQL server and it seems that there's a `property` attribute on the field.`. In GraphQL version for Ruby, one would do something like the following:

[code]

[2016-08-03 15:24] note89 commented on #98
This repo reproduces the error .
https://github.com/graphql-elixir/phoenix-hipster-stack

[2016-08-03 15:31] note89 commented on #98
If i fix the first problem i get this

[code]

[2016-08-03 15:38] note89 commented on #98
In the end i had to update routes.ex but then got this runtime error

[code]

[2016-08-03 15:44] note89 commented on #98
Here is my attempt https://github.com/graphql-elixir/phoenix-hipster-stack/commit/69885f66490ef55e40af363ef1472f799988c54e

[2016-08-06 16:10] joshprice commented on #97
Closing as this has been resolved

[2016-08-06 16:10] #97 closed, assigned to nobody

[2016-08-07 12:14] #98 closed, assigned to nobody

[2016-08-25 07:51] raarts opened #101 "Is this project dead?"
Just wanting to know.

[2016-08-26 02:58] joshprice commented on #101
No it isn't

[2016-08-26 02:58] #101 closed, assigned to nobody

[2016-08-26 13:22] chrisjowen opened #102 "Anyway to recreate the query from the parsed AST"
Hey there,

Just looking through I can see that I can parse the AST with GraphProxy.Query, I just wondered if there was any way to recreate that query back from the AST to a string?

Chris

[2016-08-28 00:14] joshprice commented on #102
Hi!

There isn't a way right now to recreate the query from the AST. What would you use it for exactly?

Also not sure what GraphProxy.Query is, got a link?

[2016-08-30 14:10] chrisjowen commented on #102
Lol sorry I copied the name of my module, I meant using GraphQL.Lang.Parser. I needed the functionality because I have to work on a GraphQL proxy that takes a single query and resolves to several GQL instances. I needed to parse the query, and change the AST to only send parts of the query to different instances, at which point I needed to re-stringify the AST.

Its and odd use case I appreciate a

[2016-09-03 06:20] joshprice commented on #92
Closed by #93

[2016-09-03 06:20] #92 closed, assigned to nobody

[2016-09-08 03:10] #89 closed, assigned to joshprice

[2016-09-08 11:42] joshprice commented on #100
There is currently no way to do this automatically. We'll definitely support something like this soon though.

[2016-09-09 01:21] seanabrahams opened #104 "Bug in array_map.ex:59 when it patterns matches on a struct"
Testing out master branch to cut a new release and ran into the following issue while testing.

[code]

[2016-09-09 01:58] #104 closed, assigned to nobody

[2016-09-11 12:01] joshprice opened #105 "Error nil.type/0 is undefined is hard to diagnose"
As reported by @puruzio on Slack. The stacktrace from this error makes it very hard to pin down where the error is occurring in the schema.

Ideally this error should be pre-empted with a useful warning to avoid the problem.

[code]

[2016-10-03 04:38] sntran opened #106 "Support string fields and args"
At the moment, the `fields` key in `%GraphQL.Type.ObjectType{}` and `args` key only take a map with atom keys. For example:

[code]

However, there are cases where those fields are generated from user's input. By using atoms, we can run out of atoms in the Erlang shell, since atoms are not garbage collected.

It would be ideal to also support this:

[code]

[2016-10-03 05:55] aweiker commented on #106
I've never seen anyone allow a user to define a schema outside of compile time.

 Can you expand on your use case more as to what you are trying to do?

[2016-10-03 06:57] sntran commented on #106
Yes, I explained it in another issue here: https://github.com/graphql-elixir/graphql/issues/15#issuecomment-228259099

Basically, I am providing a framework for generic backend, in which the schema is loaded and updated in run time. The schema is defined by user.

[2016-10-09 04:15] dovahcrow opened #107 "introspection of union type?"
When I wrote down this in my graphql schema, introspection in graphiql failed with `Introspection must provide object type for possibleTypes.`
![image](https://cloud.githubusercontent.com/assets/998606/19217868/a9db4f50-8e19-11e6-8579-306a3cabb633.png)
Seems like the implementation [`defimpl AbstractType`](https://github.com/graphql-elixir/graphql/blob/master/lib/graphql/type/union.ex#L16) not wor

[2016-10-09 05:55] aweiker commented on #107
You can't use a scalar type in a union. see: http://facebook.github.io/graphql/#sec-Union-type-validation

[2016-10-09 05:56] #107 closed, assigned to nobody

[2016-10-09 06:05] dovahcrow commented on #107
I see, thanks

[2016-10-18 07:46] MartinElvar opened #108 "How do i access queried fields from the resolver?"
Ideally i do not want to select all the columns of my users table, if the client only want to access the name of a user.

Is there any way that i can, from my resolver, pick the requested fields, and make a more specific query, based on it?

[2016-11-17 11:45] sntran commented on #106
I'm not trying to rush here, but I would like to hear the arguments against this. I can see that the dot notation when using atom is nicer than square brackets, but other than that, I see no harm in supporting both.

[2016-11-21 19:46] bringking commented on #64
Any status on this? From reading the spec, if we can't bubble errors during query execution, then the library isn't spec compliant.

[2016-11-22 03:26] bringking opened #110 "Union help"
Thanks for the awesome library, I am loving creating a GraphQL service in Elixir. I am running into an issue I hope you can shed some light on. I have a field on a value that is a string "type". This field is a string from the backing API, but I want expose it as a Union Type. I setup the "Banner" type as shown -

[code]

and the "banner_types" union type as follows -

[code]

I can see the initia

[2016-11-22 04:56] bringking commented on #110
Derp, I was passing the Module and not the "type". I fixed this by just changing ->

[code]
to

[code]

[2016-11-22 04:57] #110 closed, assigned to nobody

[2016-11-30 18:20] bringking commented on #56
@aweiker Is this still in progress? Do you guys need any help?

[2016-11-30 19:38] aweiker commented on #56
I believe this is done as a part of #82.

[2016-11-30 21:21] bringking commented on #56
@aweiker okay cool, is there an example or a way to add errors to the error list that gets returned to the client?

[2016-11-30 21:37] aweiker commented on #56
With the latest version you actually need to raise an error in order for it to get added to the error result. Prior to this refactoring you could return an error tuple.

[2016-12-01 01:12] bringking commented on #56
@aweiker raising an error worked great. Thank you for the clarification!

[2016-12-09 15:45] thaterikperson opened #111 "Incompatible with Distillery"
Distillery ([issue](https://github.com/bitwalker/distillery/issues/39)) is unable to archive a Phoenix app using `graphql` because some of the `graphql` `.beam` files' names exceed the 100 character limited imposed by `erl_tar` ([source](https://github.com/erlang/otp/blob/maint/lib/stdlib/src/erl_tar.erl#L266)).

I was able to get Distillery working with [this change](https://github.com/thaterikpe

[2016-12-21 03:03] #64 closed, assigned to nobody

[2016-12-21 03:12] joshprice commented on #111
Thanks for reporting this, suspect there might be a better solution than renaming modules.

I'm not even sure why the `TestSupport` module is in `/lib` and not `/test` so making that move might be better?

[2016-12-21 06:47] freshtonic commented on #111
@joshprice from memory the `TestSupport` module is in `/lib` and not `/test` because of protocol consolidation and test suite performance reasons.

Of course, being there is not ideal. It would be good if we could have `/test-lib` or whatever that gets compiled and is available to tests but isn't shipped in the package.

[2017-01-24 20:42] bitwalker commented on #111
You can ensure protocols are consolidated by adding `test/support` (or wherever) to `elixirc_paths` in `mix.exs`. Example:

[code]

This will make sure all modules defined in `test/support` are compiled like any other module (including protocol consolidation).

I'm working on a PR for the OTP team to address the underlying issue - but in the short term, renaming modules to ensure they stay under t

[2017-01-24 22:07] joshprice commented on #111
Thanks Paul, that's good to know! Do you have a link to the OTP PR by any chance?

[2017-01-24 22:57] bitwalker commented on #111
I haven't submitted it yet, hoping to by the end of the day today - I'll update here once I've done so.

[2017-01-25 01:37] bitwalker commented on #111
I've submitted a PR [here](https://github.com/erlang/otp/pull/1316), but it's limited to better error reporting, unfortunately the 100 byte filename limit is a hard one due to the need to maintain compatibility with GNU tar's implementation.

[2017-04-20 18:48] olypros opened #113 "is this dead ?"
Does this gets any update ? any new alternative ?

[2017-04-20 20:19] skosch commented on #113
@ricking06 I don't know the answer to your first question, but one alternative is [Absinthe](https://github.com/absinthe-graphql/absinthe), which is under active development and quite pleasant all around.

[2017-08-01 18:48] sntran commented on #113
@ricking06 Another alternative is https://github.com/shopgun/graphql-erlang, which I like due to its usage of pattern matching (instead of schema modules) and binary keys (instead of atoms).

It's in Erlang, but you should be able to use it directly in Elixir.

[2017-09-26 06:27] sunny-g commented on #102
@chrisjowen do you have this code available anywhere? I think I could use something similar to what you've made for implementing an ACL, implementing a subscriptions module on top of an existing GraphQL server, and split a query among different databases 😄

[2017-12-11 11:37] seivan commented on #113
I am also curious. I like simplicity of this without resorting too much on Macros and magic.
It makes it clear cut how the entire scheme looks like in the end and I appreciate it.
However docs seem kinda sparse and not how much support it has for channels/sockets/subscriptions yet.

[2017-12-11 15:38] skosch commented on #113
I've been working with Absinthe (and Relay/Apollo on the client side) for a year and a half now, and the one thing I've never had to concern myself with was schemas and macro magic. It just doesn't matter. Your types/schema is something you set up once at the beginning, and then 99% of your time is spent writing resolvers and building your front end. I haven't used graphql-erlang, but Absinthe's d

[2017-12-11 16:01] sntran commented on #113
Not all cases have schema at the beginning, at least my case does not. While it's faster and convenience, the dependency on compile-time schema is what keeps me away from Absinthe.

I guess people wanting to know about the status of this project do need the flexibility it provides.

[2017-12-11 16:02] seivan commented on #113
I like the readability of the simple Structs combined together. But Abinsthe does *look* great and well documented.